@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --main-color:#f01027;
}

*{
    font-family: "Nunito",serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    border: none;
    outline:none;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s all linear;
}
*::selection{
    background:#f01027;
    color:#fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
   scroll-behavior: smooth;
}
section {
    padding:2rem 7%;
}
html::-webkit-scrollbar{
    width:1rem;
}
html::-webkit-scrollbar-thumb{
    background-color: brown;
}
html::-webkit-scrollbar-track{
    background:#000;
}
.header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;
    background:#000;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 9%;
}
.header .logo img{
    height:15rem;

}
.header .navbar a{
    color:#fff;
    font-size:1.7rem;
    margin-left: 2rem; 
}
.header .navbar a:hover{
    color:var(--main-color);
}

#menubars{
    color:#fff;
    cursor:pointer;
    font-size:3rem;
    display:none;
}
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding:1.5rem 2rem;
    }
}

@media(max-width:768px){
    #menubars{
        display:initial;
    }
    .header .navbar{
        position:absolute;
        top:100%;
        left:0;
        right:0;
        border-top: 0.2rem solid #222;
        background:#000;
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);
     }
  .header .navbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
  }

   .header .navbar a{
    display:flex;
    background:#333;
    font-size: 2rem;
    margin:1.3rem;
    padding:1.3rem;
    border-radius:0.5rem;
   }
   .fa-times{
    transform:rotate(180deg);
   }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
}



/* ############ home ###############  */

.home{
    background:url(/img/pexels-wolfgang-2747446.jpg);
   min-height: 100vh;
   background-position: center;
   background-size: cover;
   object-fit: cover;
   background-repeat: no-repeat;
   display:flex;
   align-items: center;
}
.home .content{
    max-width:60rem;
    color:#fff;
}
.home .content h3{
    padding-top: 20px;
    font-size: 6rem;
    text-transform: uppercase;
}
.home .content p{
    font-weight: lighter;
    font-size: 2rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}
.btn{
    background:var(--main-color);
    cursor:pointer;
    color:#fff;
    display:inline-block;
    padding:0.9rem 3rem ;
    margin-top:1rem;
    font-size: 1.7rem;
    border-radius: 5px;
}
.btn:hover{
    letter-spacing: 0.2rem;
}
@media(max-width:768px){
    .home{
        background-position: left;
        justify-content:center;
        text-align: center;
    }
    .home.content h3{
        font-size: 4rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
}

/* ######### about #########  */
.about .row  .img img{
    width:100%;
    border: 1rem solid --main-color;
    border-radius: 50%;
}
.about .row .img{
    flex:1 1 45rem;
    padding:1rem;
}
.about .row{
 display:flex;
 align-items: center;
 flex-wrap: wrap;   
 gap:1.5rem;
}
.about .content{
    flex:1 1 45rem;
}
.about .row .content h3{
    font-size: 3.5rem;
}
.about .content p{
    font-size: 1.5rem;
    padding:1rem 0;
    line-height: 2;
}

.heading{
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
}
.heading span{
    color:var(--main-color);
    text-transform: uppercase;
    padding: 15px;
}


/* ######### services ###########  */

.services{
    margin-bottom:200px ;
}


 .services .boxcontainer{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
 }

 .services .boxcontainer .box{
    background:rgb(20,19,19);
    text-align: center;
    padding:2.5rem;
    /* border-radius: 50%; */
    color:#fff;
    cursor:pointer;
}

.services .boxcontainer .box:hover{
    transform: scale(1.1);
}
.services .boxcontainer .box i{
    width:6rem;
    height:6rem;
    border-radius: 50%;
    line-height: 6rem;
    font-size: 2.5rem;

}
.services .boxcontainer .box h3{
    padding:1rem 0;
    font-size: 2rem;
}
.services .boxcontainer .box p{
    line-height: 1.8;
    color:#eee;
    font-size:1.4rem;
}
 
/* ############ gallery starts ############  */


.gallery{
 margin-bottom:200px;
}
.gallery .boxcontainer{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap:1.5rem;
}
.gallery .boxcontainer .box{
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 25rem;
    cursor:pointer;
}

.gallery .boxcontainer .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.gallery .boxcontainer .box:hover img{
   transform: scale(1.2); 
}
.gallery .boxcontainer .box .tittle{
    position:absolute;
    top:-10rem;
    left:0;
    right:0;
    background:#333;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
    color:#fff;

}

.gallery .boxcontainer .box:hover .tittle{
    top:0;
}

.gallery .boxcontainer .box .icons{
  position:absolute;
  bottom:-10;
  left:0;
  right:0;
  background-color: #333;
  text-align: center;
  padding-top: 1rem;
}
.gallery .boxcontainer .box:hover .icons{
    bottom:0;
} 

.gallery .boxcontainer .box .icons a{
    color:#fff;
    margin:0.5rem 1rem;
    font-size: 2rem;
}
.gallery .boxcontainer .box .icons a:hover{
 color:#222;


}

/* ######### price  #########  */

.price .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:1.5rem;
}
.price .box-container .box ul{
    list-style-type: none;
    padding:1rem 0;
}
.price .box-container .box ul li{
    font-size: 1.5rem;
    color:#fff;
    padding: 1rem 0;
}
.price .box-container .box ul li{
    color:var(--main-color);
    padding-right: .5rem;
}
.price .box-container .box{
    padding:2rem 0;
    background:#333;
    border-radius: .5rem;
    text-align: center;
}
.price .box-container .box:hover{
    transform:scale(1.03);
}
.price .box-container .box .tittle{
    background:var(--main-color);
    color:#fff;
    padding:1.5rem 0;
    font-size: 2rem;
}
.price .box-container .box .cost{

    color:#fff;
    padding-top:2rem;
    font-size: 4rem;
}

/* ####### review style #########  */

.review{
    margin-bottom: 200px;
}

.review .box .img{
    display:flex;
    align-items: center;
    gap:1.5rem;
    padding-bottom: 1rem;
}
.review .box .img img{
    height:10rem;
    width:10rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box{
    border-radius: 0.5rem;
    background:#ccc;
    padding:5rem;
    position: relative;
}

.review .box:hover{
    transform: scale(1.04);
}
.review .box .fa-twitter{
    position: absolute;
    top:2rem;
    right: 2rem;
    color:cornflowerblue;
    font-size: 2rem;  
}

.review .box .img h3{
    color:cornflowerblue;
    font-size:2rem;
}
.review .box .img span{
    color:#fff;
    font-size: 1.6rem;
    padding:0.5rem 0;
    /* color:#eee; */

}
.review .box  p{
    color:#222;
    font-size: 2rem;
    padding:0.5rem 0;
}


/* ####### contact #######  */
.contact form{
    max-width:70rem;
    margin:1rem auto;
    text-align: center;
}
.contact form .inputbox{
    display:flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}
.contact form .inputbox input,
.contact form textarea{
    width:100%;
    background:#333;
    border-radius: .5rem;
    padding:1rem;
    margin:.7rem 0;
    font-size: 1.5rem;
    color:#eee;
    text-transform: none;
}
.contact form .inputbox input,
.contact form textarea::placeholder{
color:#eee;
text-transform: capitalize;
}

.contact form .inputbox input:focus,
.contact form textarea:focus{
    background:#444;
}

.contact form .inputbox input{
    width:49%;
}
.contact form textarea{
    resize:none;
}
.contact .button{
    padding:2rem 2rem 2rem 2rem;
    background:#222;
    color: #eee;
    cursor:pointer;
    font-size: 1.7rem;
    border-radius: 5px;
}
.contact .button:hover{
letter-spacing: 0.3rem;
}
@media(max-width:768px){
    .contact form .inputbox input{
        width:100%;
    }
}



/* ####### footer ######  */
.footer{
    background:#111;

}
.footer .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
}
.footer .box-container .box a{
  display:block;
  font-size: 1.5rem;
  padding:1rem 0;
  color:#eee;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    
}
.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color:#eee; 
}
.footer .maker{
    text-align: center;
    border-top: .1rem solid #222;
    color:#fff;
    padding:2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .maker span{
    color:cornflowerblue;
}

.theme-toggle{
    position: fixed;
    top:10rem;right:-20rem;
    background:#333;
    z-index:1000;
    width:20rem;
    text-align: cennter;
}
.theme-toggle.active{
    right:0;
}
.theme-toggle h3{
 color:#fff;
 padding:1rem 0;
 font-size: 2rem;
}
.theme-toggle .buttons{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
    padding:1rem;
}
.theme-toggle .buttons .theme-btn{
    height:5rem;
    width:5rem;
    border-radius: 50%;
    cursor:pointer;
}
.theme-toggle .toggle-btn{
    position:absolute;
    top:0;
    left:-5.9rem;
    padding:1.3rem 1.5rem;
    background: #333;
    cursor:pointer;
}

.theme-toggle .toggle-btn i{
    color:#fff;
    font-size: 3rem;
    animation:spin 4s infinite;
}
@keyframes spin{
    0%{
        transform:rotate(360deg);
    }
}